
<mat-toolbar color="primary" class="toolbar">


    <button mat-button class="title"><h1>Movie Review Page</h1></button>



    <span class="space"></span>



    <div class="righttoolbaritems">

        <mat-form-field class="searchbarinput">
            <mat-label>Search for movies...</mat-label>
            <input matInput #message maxlength="50" placeholder="What are you looking for?">
        </mat-form-field>

        <button mat-icon-button>
            <mat-icon class="search-icon" svgIcon="search"></mat-icon>
        </button>


        <button mat-icon-button>
            <mat-icon class="user-icon" svgIcon="user"></mat-icon>
        </button>

    </div>


</mat-toolbar>



