/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: "./assets/backgroud.png";
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #333333;
}

h1 {
    color: white;

}

h3 {
    color: white;
}


